.modal__overlay {
    position: fixed;
    background-color:  rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
}
.modal__overlay.active {
    visibility: visible;
    opacity: 1;
}
.modal__content {
    border-radius: 4px;
    opacity: 0;
    background-color: #fff;
}
.active .modal__content{
    opacity: 1;
}