.header {
    box-shadow:  5px 5px 4px 2px rgba(0, 0, 0, 0.2);
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;   
}
.header__logo {
    font-size: 20px;
    font-weight: 600;
}
.btn__block {
    display: flex;
    column-gap: 20px;
}
.btn__sign {
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid #000000;
    transition: 0.3s ease-in-out;
}
.btn__sign:hover {
    background-color: #000;
    color: #fff;
}