#InfoSection{
    
}
.InfoSection {
    padding: 120px 180px;
    margin: 0 auto;
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.98) )
    /* background-color: #343534; */
}

.Info_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;   
    column-gap: 100px;
}
.Info_text h1{
    padding: 0 0 20px;
    color: #d91e37;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 500;
}
.Info_text p{
    max-width: 1000px;
    padding: 20px 0;
    color: #fff;
    line-height: 160%;
    font-size: 16px;
}
.Info_pic img{
    max-height: 400px;
    width: auto;
    box-shadow: 0 0 10px #d91e37a5;
}
.Info_blocks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px;   
    column-gap: 60px;
}
.Info_block{
    border-radius: 50px;
    position: relative;
    z-index: 5;
    max-width: 500px;
    height: auto;
    color: #fff;
    background-color: #545454c7;
    padding: 20px;
    box-shadow: 0 0 10px #d91e37a5;
    transition: all .4s;
}
.Info_block:hover{
    transform: scale(1.1);
}
.Info_block:hover .wrapper{
    transform: scale(0.9);
}
.Info_block img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 85px;
    width: auto;
}
.Info_block h2{
    text-align: center;
    color: #d91e37;
    font-size: 20px;
    margin-bottom: 10px;
}
.Info_block p{
    margin: 20px 0;
    text-align: center;
    font-size: 16px;
}
.Info_block hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
